{% extends 'musicbeats/basic.htm' %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="login-container" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;margin-left:500px"> <!-- Add a class to distinguish the login container -->
  <form action="/musicbeats/login" method="POST">
    {% csrf_token %}
    <div style="text-align: center;">
      <h1 class="login-title" style="color:#350647; font-size: 24px; margin-bottom: 20px;">Login</h1>
      <img src="/static/musicbeats/login.png" alt="Image" style="width: 100px; height: 100px; margin-bottom: 20px; display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" style="color: #350647;">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Your Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="color: #350647;">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
  </form>
</div>

<style>
  /* CSS for styling the login page */
  body {
    /* background-color:rgb(26, 100, 134); Background colorrgb(26, 100, 134) */
   /* background-color: #350647;*/
    background-color: #bd9acc;
    /* Choose a readable font */
    color: #000; /* Text color */
  }

  .login-container { /* Style specific to the login container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border: 2px solid #333; /* Dark border */
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Add box shadow for depth */
  }

  .login-title {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%; /* Full width */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Light border */
    color:black;
  }

  .btn-primary {
    background-color: #ac58ce; /* Blue button background */
    border: none;
    color: #fff; /* White text color */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #b98eca; /* Darker blue on hover */
  }
  
</style>
{% endblock %}
