{% extends 'musicbeats/basic.htm' %}
{% block title %}All Songs{% endblock %}

{% block body %}
{% if message %}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 1500
    })
</script>
{% endif %}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-top: 3%;">
            <img src="{{ song.image }}" alt="" height="250px" width="350px" style="border-radius: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
        </div>

        <div class="col-md-6" style="border:black solid 2px; background-color:white;margin-top:40px;border-radius:5px;" >
            <h2 style="padding-top: 6%; font-weight: bold; color: #28a745;">Title: {{ song.name }}</h2>
            <h5 style="padding-top: 2%; font-weight: bold;">Category: {{ song.tags }}</h5>
            <h5 style="padding-top: 2%; font-weight: bold;">Movie: {{ song.movie }}</h5>
            <h5 style="padding-top: 2%; font-weight: bold;">Singer: {{ song.singer }}</h5>
            <h5 style="padding-top: 2%; font-weight: bold;">Credit: <a href="{{ song.credit }}" target="blank_" style="color: #007bff; text-decoration: none;">Click here</a></h5>

            <audio controls style="padding-top: 2%;">
                <source src="/media/{{ song.song }}" type="audio/mp3">
            </audio>

            <div style="padding-top: 2%;">
                <div class="row" style="padding-left: 3%;">
                    <form action="/musicbeats/watchlater" method="POST">{% csrf_token %}
                        <input type="hidden" name="video_id" value="{{ song.song_id }}">
                        <button type="submit" class="btn btn-outline-success mr-2">Add to Listen Later</button>
                    </form>
                    <a download href="/media/{{ song.song }}" style="padding-left: 1%;"><button class="btn btn-outline-success">Download Song</button></a>
                </div>
            </div>
            <br>
        </div>
        <br><br>
    </div>
    <br><br>
</div>
<style>
    body{
        background-color:  #350647;
    }
</style>
{% endblock %}

{% block js %}

{% endblock %}
