{% extends 'musicbeats/basic.htm' %}
{% block title %}Upload your music{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<div class="container" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4" style="color:#350647 ">Upload Your Music</h2>

          <form action="/musicbeats/upload" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="musicName">Your Music Name</label>
              <input type="text" class="form-control" id="musicName" name="name" placeholder="Your Song Name">
            </div>

            <div class="form-group">
              <label for="singerName">Singer Name</label>
              <input type="text" class="form-control" id="singerName" name="singer" placeholder="Singer Name">
            </div>

            <div class="form-group">
              <label for="tags">Tags</label>
              <input type="text" class="form-control" id="tags" name="tag" placeholder="Tags (Separated by Commas)">
            </div>

            <div class="form-group">
              <label for="imageLink">Image Link (Associated With Your Music)</label>
              <input type="text" class="form-control" id="imageLink" name="image" placeholder="Link to Image">
            </div>

            <div class="form-group">
              <label for="movieName">Movie Name</label>
              <input type="text" class="form-control" id="movieName" name="movie" placeholder="Movie name in which this song is featured">
            </div>

            <div class="form-group">
              <label for="credit">Credit</label>
              <input type="text" class="form-control" id="credit" name="credit" placeholder="Add Credit Link">
            </div>

            <div class="form-group">
              <label for="file">Example file input</label>
              <input type="file" class="form-control-file" id="file" name="file">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<style>
  body{
    background-color:#bd9acc;
    color: #000; /* Text color */
  }
  label{
    color:#350647;
  }
</style>
{% endblock %}
